@import "tailwindcss";
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: light) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

.form-container {
  @apply flex items-center justify-center min-h-screen bg-gray-100;
}

.form-box {
  @apply bg-stone-50 p-8 rounded-md shadow-md w-full max-w-md;
}

.form-heading {
  @apply text-2xl font-bold mb-6 text-center;
}

.input {
  @apply w-full px-4 py-2 border rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500 mb-2.5;
}

.button {
  @apply w-full bg-blue-400 text-white py-2 px-4 rounded-md hover:bg-blue-500 transition duration-200;
}

.label {
  @apply block text-gray-700 mb-1.5;
}

.dashboard-container {
  @apply flex flex-col items-center mb-3 min-h-screen bg-gray-100;
}
 
.logoutbutton {
  background-color: grey;
  border: none;
  color: #e7e7e7;
  padding: 11px 32px;
  text-align: center;
  text-decoration: none;
  float: right;
  font-size: 16px;
  margin-top: 10px;
  margin-right: 200px;
  font-weight: 550;
  font-weight: 700;
  border-radius: 10px;
}

.taskCard {
  @apply bg-white p-6 rounded-lg shadow-md w-full max-w-md cursor-pointer;
}

.column {
  @apply bg-gray-300 p-4 rounded-lg shadow-md w-full max-w-md w-80 min-w-[20rem] shadow flex-col;
}

.logoutbutton:hover {
  background-color: #e7e7e7;
  color: grey;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
